body {
  display: grid;
  justify-items: center;
  justify-content: center;
  background-image: url("https://pbs.twimg.com/media/EXSN4KAXQAUb-1r.jpg");
  background-size: cover;
  color: whitesmoke;
}

header {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 75%;
  margin: 20px;
}

h2 {
  margin: 3px;
}

h3 {
  margin: 2px;
}

#character_info {
  display: grid;
  text-align: center;
  justify-content: center;
}

#headshot {
  width: 15em;
  border-radius: 100%;
}

#crest {
  width: 18em;
}
